{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 2 - programação 2</title>
    <link rel="stylesheet" href="{% static 'css/projeto2-programacao-2-matheus-e-tamires.css' %}">
</head>
<body>
    <header>
        <h1>Suas notícias</h1>
    </header>

    <main>
        <section>
            <h1>
                IFPB - CAMPUS PEDRAS DE FOGO
            </h1>

            {% for dado in dados|slice:":3" %}
                <article>
                    <a href="{{ dado.url }}" target="_blank">
                        <h2 class="teste">
                            {{ dado.titulo }}
                        </h2>
                        <img src="{{ dado.img_src }}" alt="{{ dado.img_alt }}">
                    </a>
                    <p>{{ dado.descricao }} 
                        <a href="{{ dado.url }}" target="_blank">Leia mais...</a>
                    </p>
                    
                    <div>
                        x horas atrás 
                        <img class="logo" src="{% static 'imagens/campuspedrasdefogo.png' %}" alt="logo">
                    </div>
                </article> 
            {% endfor %}
        </section>

        <section>
            <h1>
                CÂMARA DOS DEPUTADOS - ÚLTIMAS NOTÍCIAS
            </h1>  

            {% for cont in dados_camara|slice:":3" %}
                <article>
                    <a href="{{ cont.url }}" target="_blank">
                        <h2>
                            {{ cont.titulo }}
                        </h2>
                        <img src="{{ cont.img_src }}" alt="{{ cont.img_alt }}">
                    </a>
                    <p>{{ cont.descricao }} <a href="{{ cont.url }}" target="_blank">Leia mais...</a></p>
                    
                    <div>
                        x horas atrás 
                        <img class="logo" src="{% static 'imagens/campuspedrasdefogo.png' %}" alt="logo">
                    </div>
                </article>  
            {% endfor %}
        </section>
    </main>

    <footer>
        Por: Matheus Henrique e Tamires Santana
    </footer>

</body>
</html>
